HAKKAGPT_API_TOKEN=
HAKKAGPT_ENDPOINT=https://hk-gpt.ouob.net/process
HAKKAGPT_AGENT_ID=hakka-gpt
HAKKAGPT_USER_ID=ketiengong-platform
REVIEWER_EMAILS=
GOOGLE_DRIVE_FOLDER_ID=1AQ8NQBgruJlb6bYQMVUOPvJPZ0olKFUd
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REFRESH_TOKEN=
ADMIN=
